.widget_fav_tags .fav_tags_list,
.widget_fav_tags .fav_tags_list li {
    margin:0; 
    padding:0;
    list-style: none;
}

.widget_fav_tags .fav_tags_list {
    margin: 0 -15px 0 -15px;
}

.widget_fav_tags .fav_tags_list li a {
    display: block;
    padding: 2px 20px;
    overflow: hidden;
    text-decoration: none;
}

.widget_fav_tags .fav_tags_list li .name {
    text-decoration: underline
}

.widget_fav_tags .fav_tags_list li .count {
    float: right;
    margin-left: 5px;
    font-size:11px;
    font-style: normal;
    text-align: right;
    color: #999;
    text-decoration: none
}

.widget_fav_tags .fav_tags_list a:hover,
.widget_fav_tags .fav_tags_list a.current {
    background: #ecf0f1;
    color: #333
}

.widget_fav_tags .fav_tags_list a:hover .name,
.widget_fav_tags .fav_tags_list a.current .name {
    text-decoration: none
}

.widget_fav_tags .fav_tags_list a:hover .count,
.widget_fav_tags .fav_tags_list a.current .count {
    color: #666
}

.widget_fav_tags .fav_suggest_box {
    border: 1px solid #b3c2c9;
    margin-bottom: 10px;
    background-color: #fff;
}

.widget_fav_tags .fav_tags_suggest {
    background: transparent;
    border: none;
    width: 87%;
    padding: 5px 0 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.widget_fav_tags .fav_tags_suggest:focus {
    outline: none;
}

.widget_fav_tags .fav_suggest_clear {
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIGhlaWdodD0iMThweCIgd2lkdGg9IjE4cHgiIHZlcnNpb249IjEuMSIgeT0iMHB4IiB4PSIwcHgiIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTggMTgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE4IDE4Ij4KPHBvbHlnb24gcG9pbnRzPSIxNCA1LjE4MiAxMi44MTggNCA5IDcuNjU1IDUuMTgyIDQgNCA1LjE4MiA3LjgxOCA5IDQgMTIuODE4IDUuMTgyIDE0IDkgMTAuMTgyIDEyLjgxOCAxNCAxNCAxMi44MTggMTAuMTgyIDkiLz4KPC9zdmc+Cg==);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
    border: 1px solid transparent;
    opacity: .4;
    cursor: pointer; 
    outline: none!important;
    transition: transform 200ms ease;
}

.widget_fav_tags .fav_suggest_clear:hover { transform: rotate(90deg); }